@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* font */
*{
  font-family: 'Signika Negative', sans-serif !important;
}

.pi{
  font-family: 'primeicons' !important;
}

/* colores principales */
.primary{
  color: #0071BD !important;
}

.secondary{
  color: #F5F6FA !important;
}

.white{
  color: #FFF !important;
}

.dark{
  color: #000 !important;
}


/* fondos principales */
.bg-primary{
  background: #0071BD !important;
}

.bg-secondary{
  background: #F5F6FA !important;
}

.bg-white{
  background: #FFF !important;
}


/* Botones globales */
.btn-primary{
  background-color: #0071BD !important;
  border-color: #0071BD !important;
  color: #fff !important;
}

.btn-white{
  background-color: #fff !important;
  border-color: #0071BD !important;
  color: #0071BD !important;
}

.btn-secondary{
  background-color: #E2E2E2 !important;
  color: #fff !important;
}

.btn-third{
  background-color: #F5F6FA !important;
  color: #000000 !important;
}

.btn-disabled{
  background-color: #4E5263 !important;
  color: #fff !important;
}

.btn-primary:hover{
  background-color: #0071bdd7  !important;
}
.btn-secondary:hover{
  background-color: #d4d4d4 !important;
}
.btn-third:hover{
  background-color: #f5f6fac9 !important;
}
.btn-disables:hover{
  background-color: #4e5263d0  !important;
}


.h-100{
  height: 100vh !important;
}
